*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body{
  background: #0D111A;
  color: #fff !important;
}

.alert-error {
  color: #a94442;
  background: #f2dede;
  border-color: #ebccd1;
}

nav{
  margin-top: -1rem;
}

a.navbar-brand{
  color: #fff !important;
  margin-top: 1rem;
}


.nav-link{
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #fff !important;
  font-weight: 300;
  transition: font-weight 0.5s
}

.nav-link:hover{
  font-weight: 400;
}

.navbar-nav{
  margin: 0 auto;
}

.navbar-nav .auth{
  margin-left: 1rem;
}

.authText{
  margin-right: 1rem;
  font-weight: 500;
  font-size: 0.9rem
}

.navbar-nav .btnRegister{
  font-size: 0.9rem;
  font-weight: 400;
  background: linear-gradient(#E72A57, #FF731C) ;
  border: none;
  width: 6.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
  opacity: 0.9;
}

.navbar-nav .btnRegister:hover{
  transition: 0.2s;
  opacity: 1;
}

.alert-success_msg {
  color: #3c763d;
  background: #dbddda;
  border-color: #d6e9c6;
}

.btnEdit{
  width: 7rem;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
}

.Articles {
  margin-bottom: 1rem;
  border-radius: 0.7rem;
}

.Articles:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* 
.detailInformation{
  text-align:justify;
} */

.divider{
  background: #fff;
  color: #fff;
  margin-left: -5px;
  width: 2.3rem !important;
  height: 3px !important;
  border-radius: 3px !important;
}

.title{
  color: #bebebe;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  transition: 1ms;
}




#player{
  margin-top: 5rem;
  border-radius: 0.3rem !important;
}

.btnCTA{
  font-weight: 400;
  font-size: 1rem;
  width: 9rem;
  height: 3rem;
  padding: 0.7rem 0.7rem;
  background: linear-gradient(#E72A57, #FF731C);
  border: 1px solid #E72A57;
  margin-top: 3rem;
  transition: 0.5s;
  opacity: 0.9;
}

.btnCTA:hover{
  border: 1px solid #E72A57;
  background: linear-gradient(#E72A57, #FF731C);
  opacity: 1;
}

.btnArticle{
  margin-top: 3.7rem !important;
  margin-left: 1.3rem;
  color: #fff;
  transition: 0.5s;
  opacity: 0.7;
  text-decoration: none;
}

.btnArticle:hover{
  cursor: pointer;
  color: #efefef;
  opacity: 1;
  font-weight: 400;
}

.sectionDetailArticle{
  margin-top: 5rem;
}

.dateArticle p{
  font-weight: 400;
  color: #ACACAC;
}

.dateArticle h6{
  font-weight: 400;
}

.tagArticle{
  margin-top: 2rem;
  margin-left: 18rem;
  
}

.tagArticle .boxTag{
  width: 10rem !important;
  height: 2.5rem !important;
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  padding-top: 0.5rem;
  color: #0D111A;
  font-weight: 500;
  border-radius: 0.2rem;
  margin-right: 1rem;
  opacity: 0.9;
  transition: background 0.7s;
}

.tagArticle .boxTag:hover{
  cursor: pointer;
  opacity: 1;
  background: linear-gradient(to right, #00C9FF, #68fd77);
  color: #1a1d25;
}

.tagArticle .boxTag p{
  text-align: center;
}

.bodyArticle{
  text-align: justify;
  text-transform: capitalize;
}


/* Section Register */
.register{
  margin-top: 5rem;
}


/* Styles Content Elements BWA */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      .btn:focus, .btn:active {
        outline: none !important;
      }
      .title-text-content-2-4 {
        padding-top: 5rem;
        margin-bottom: 3rem;
      }
      .text-title-content-2-4 {
        color: #FFFFFF;
        margin-bottom: 0.625rem;
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 600;
      }
      .text-caption-content-2-4 {
        color: #E7E7E8;
        font-weight: 300;
      }
      .column-content-2-4 {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .icon-content-2-4 {
        margin-bottom: 1.5rem;
      }
      .icon-content-2-4-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0.625rem;
        color: #FFFFFF;
      }
      .icon-content-2-4-caption {
        font-size: 1rem;
        line-height: 1.625;
        letter-spacing: 0.025em;
        color: #999999;
      }
      .card-content-2-4 {
        padding: 1.75rem;
        background-color: #0D0D17;
        border-radius: 0.75rem;
        border: 1px solid #303030;
      }
      .card-block-content-2-4 {
        padding: 1rem 1rem 5rem 1rem;
        }
      .card-content-2-4-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0.625rem;
        color: #FFFFFF;
        font-weight: 600;
      }
      .card-content-2-4-caption {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #999999;
        letter-spacing: 0.025em;
        font-weight: 300;
        margin-bottom: 0;
      }
      .btn-card-content-2-4 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        color: #000000;
        background-image: linear-gradient(rgba(208, 254, 123, 1), rgba(163, 252, 158, 1));
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border-radius: 0.75rem;
        margin-bottom: 1.25rem;
        border: none;
      }
      .btn-card-content-2-4:hover {
        color: #000000;
        --tw-shadow: inset 0 0px 18px 0 rgba(0, 0, 0, 0.7);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
      .btn-outline-content-2-4 {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #47475C;
        border: 1px solid #47475C;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border-radius: 0.75rem;
      }
      .btn-outline-content-2-4:hover {
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
      }
      .card-text-content-2-4 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      .grid-padding-content-2-4 {
        padding: 0rem 1rem 3rem 1rem;
      }
      @media (min-width: 576px) {
        .grid-padding-content-2-4 {
          padding: 0rem 2rem 3rem 2rem;
        }
        .card-block-content-2-4 {
        padding: 3rem 2rem 5rem 2rem;
        }
      }
      @media (min-width: 768px) {
        .grid-padding-content-2-4 {
          padding: 0rem 4rem 3rem 4rem;
        }
        .card-block-content-2-4 {
        padding: 3rem 4rem 5rem 4rem;
        }
      }
      @media (min-width: 992px) {
        .grid-padding-content-2-4 {
          padding: 1rem 6rem 3rem 6rem;
        }
        .card-block-content-2-4 {
        padding: 3rem 6rem 5rem 6rem;
        }
        .column-content-2-4 {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        padding-top: 0;
        padding-bottom: 0;
      }
      }
      @media (min-width: 1200px) {
        .grid-padding-content-2-4 {
          padding: 1rem 10rem 3rem 10rem;
        }
        .card-block-content-2-4 {
        padding: 3rem 6rem 5rem 6rem;
        }
        .card-btn-space-content-2-4 {
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .btn-card-content-2-4 {
          width: 95%;
          float: right;
        }
        .btn-outline-content-2-4 {
          width: 95%;
          float: right;
        }
      }
      @media (max-width: 980px) {
        .card-btn-space-content-2-4 {
          width: 100%;
        }
      }

/* Styles Element BWA Footer */
.list-space-footer-2-4 {
  margin-bottom: 1.25rem;
}

.list-space-footer-2-4-title {
  margin-bottom: 1.5rem;
}
.footer-text-title-footer-2-4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
}
.list-menu-footer-2-4 {
  color: #999999;
  text-decoration: none !important;
  cursor: pointer;
}
.list-menu-footer-2-4:hover {
  color: #FFFFFF;
}
hr.hr-footer-2-4 {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(48, 48, 48, 1);
}
.border-color-footer-2-4 {
  color: #999999;
}
.footer-link-footer-2-4 {
  margin-right: 1.25rem;
  color: #999999;
}
.footer-link-footer-2-4:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.social-media-c-footer-2-4:hover circle,
.social-media-p-footer-2-4:hover path {
  fill: #FFFFFF;
  cursor: pointer;
}
.footer-info-space-footer-2-4 {
  padding-top: 3rem;
}
.social-media-left-footer-2-4 {
  margin-right: 1.25rem;
}
.social-media-center-1-footer-2-4 {
  margin-right: 1.25rem;
}
.social-media-center-2-footer-2-4 {
  margin-right: 1.25rem;
}
.list-footer-footer-2-4 {
  padding: 5rem 1rem 6rem 1rem;
}
.info-footer-footer-2-4 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}
@media (max-width: 980px) {
  .footer-responsive-space-footer-2-4 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}
@media (min-width: 576px) {
  .list-footer-footer-2-4 {
    padding: 5rem 2rem 6rem 2rem;
  }
  .info-footer-footer-2-4 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .list-footer-footer-2-4 {
    padding: 5rem 4rem 6rem 4rem;
  }
  .info-footer-footer-2-4 {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 992px) {
  .list-footer-footer-2-4 {
    padding: 5rem 6rem 6rem 6rem;
  }
  .info-footer-footer-2-4 {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
  }
}